$break: 790px;

.firstmetal {
	display: flex;
	background-color: transparent;
	flex-direction: column;
	position: relative;
	padding-top: 7.5vh;
	padding-bottom: 7.5vh;

	&__container {
		width: 100%;
		// max-width: 950px;
		margin: 0 auto;
	}

	&__wrapper {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;

		&--content {
			width: 100%;
			position: relative;

			margin-top: 60px;

			@include under(sm) {
				margin-top: 40px;
			}
		}
	}

	&__col {
		width: 100%;

		&--1-3 {
			width: 30%;
		}

		&--2-3 {
			width: 70%;
		}
	}

	&__text {
		font-size: 54px;
		font-family: f(comic);
		font-weight: 400;
		width: 100%;
		text-align: left;

		@include under(sm) {
			font-size: 32px;
		}

		strong {
			font-weight: 600;
		}

		&--includes {
			display: flex;
			align-items: center;

			@include under(sm) {
				flex-direction: column;
				text-align: center;
			}

			img {
				height: 52px;
				margin-top: 10px;
				width: auto;
				display: inline-block;
				vertical-align: bottom;
				margin-right: 10px;

				@include under(sm) {
					height: 32px;
				}
			}

			span {
				color: background('orange');
				display: inline-block;

				&.gray {
					color: #C7C7C7;
				}

				strong {
					font-weight: 500;
				}
			}
		}

		.fs450 {
			font-size: 450px;
			font-weight: 500;

			@include under(sm){
				font-size: 220px;
			}
		}

		.fs150 {
			font-size: 150px;

			@include under(sm){
				font-size: 75px;
			}
		}

		.fs72 {
			font-size: 72px;

			@include under(sm){
				font-size: 36px;
			}
		}

		&--free {
			font-size: 32px;
			text-align: right;
			max-width: 800px;
			margin: 30px 70px;
			margin-left: auto;

			@include under(sm) {
				text-align: center;
				font-size: 24px;
				margin-right: auto;
			}
		}
	}

	&__video {
		width: 380px;
		max-width: 100%;
	    height: 220px;
	    object-fit: cover;
		position: relative;
		float: right;
		top: -70px;
		right: 30px;
		@include under(md) {
			// float: inherit;
			width: 370px;
			top: -70px;
			right: 70px;
		}
		@include under(md-960) {
			top: -40px;
			right: 20px;
		}
		@include under(sm) {
			width: 390px;
			float: inherit;
		}
		@include under(invitation) {
			top: 0;
    		right: inherit;
		}

		
		&--inline {
			float: right;
			top: -50px;
			z-index: -1;
			
			@include under(sm){
				display: none;
			}
		}
	}
}
