.landing {

	&__gradiente {
		background: rgba(248,80,50,1);
		background: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(0,168,225,1) 0%, rgba(3,175,158,1) 51%, rgba(3,175,158,1) 52%, rgba(0,181,80,1) 96%, rgba(0,181,80,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(0,168,225,1)), color-stop(51%, rgba(3,175,158,1)), color-stop(52%, rgba(3,175,158,1)), color-stop(96%, rgba(0,181,80,1)), color-stop(100%, rgba(0,181,80,1)));
		background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(0,168,225,1) 0%, rgba(3,175,158,1) 51%, rgba(3,175,158,1) 52%, rgba(0,181,80,1) 96%, rgba(0,181,80,1) 100%);
		background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(0,168,225,1) 0%, rgba(3,175,158,1) 51%, rgba(3,175,158,1) 52%, rgba(0,181,80,1) 96%, rgba(0,181,80,1) 100%);
		background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(0,168,225,1) 0%, rgba(3,175,158,1) 51%, rgba(3,175,158,1) 52%, rgba(0,181,80,1) 96%, rgba(0,181,80,1) 100%);
		background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(0,168,225,1) 0%, rgba(3,175,158,1) 51%, rgba(3,175,158,1) 52%, rgba(0,181,80,1) 96%, rgba(0,181,80,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#00b550', GradientType=1 );

		height: 45vh;

		@include under (invitation) {
			display: flex;
		    flex-direction: column-reverse;
		    flex: 1;
		}

	}

	&__container {
		width: 80%;
		margin: 0 auto;

		@include under (contactForm) {
			width: 100%;
		}
	}

	/* T i t l e */
	&__ttl {
		font-size: 190px;
		font-family: f(comic);
		font-weight: 900;
		color: #FFF;


		&--box {
			position: absolute;
    		top: 20vh;
    		left: 60vh;
		}
	}

	/* Y a h */
	&__img-yah {

		&--box {
			width: 40vh;
		    position: absolute;
		    top: 20vh;
		    left: 35vw;
			@include under (crunch) {
				width: 32vw;
				top: 15vh;
				left: 28vw;
			}

			@include under (invitation) {
				width: 44vw;
			    top: 3vh;
			    left: 6vw;
			    z-index: 5;
			}
		}
	}
	
	/* P e l u c h e */
	&__img-peluche {

		&--box {
			width: 35vw;
			z-index: 99;
			@include under (bag) {
				margin-top: 10vh;
			}
			@include under (invitation) {
				width: 36vw; 
		        top: 5vh; 
		        position: absolute; 
		        z-index: 1;
			}
			@include under (xs) {
				width: 45vw;
			}
		}
	}

	/* T a r j e t a */
	&__img-tarjeta {

		&--box {
			width: 35vw;
		    position: absolute;
		    top: 7vh;
		    right: 0;
		    z-index: 99;
			@include under (crunch) {
				width: 44vw;
				top: 11vh;
			}

			@include under (invitation) {
    			width: 45vw; 
		        top: 1vh; 
		        z-index: 3;
			}

			@include under (xs) {
    			width: 62vw; 
        		top: 1vh;
			}
		}
	}


	.row-white {
		align-items: center;
		margin-top: 50px;
		margin-bottom: 20px;

		&.flex {
			@include under (invitation) {
				display: block !important;
			}
		}
	}


	.col-7 {
		width: 55%;
		padding-left: 20vw;
		@include under (crunch) {
			padding-left: 5vw;
		}

		@include under (invitation) {
			width: 100%;
			padding: 0 20px;
			margin-bottom: 30px;
		}	

	}

	.col-5 {
		width: 45%;
		@include under (invitation) {
			width: 100%;
			padding: 0 20px;
		}
	}

	/* C i r c u l o s */
	&__img-circulos {
		width: 80%;
    	margin: 0 auto;

		&--box {
			width: 100%;
		}
	}

	&__img-more {
		width: 80%;
		margin: 20px auto 0;
	} 

	/* C i r c u l o s */
	&__img-texto {
		width: 70%;
		margin: 0 auto;

		&--box {
			display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;
		}
	}

	&__button {

		&--gradiente {
			background: rgba(248,80,50,1);
			background: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(0,168,225,1) 0%, rgba(3,175,158,1) 51%, rgba(3,175,158,1) 52%, rgba(0,181,80,1) 96%, rgba(0,181,80,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(0,168,225,1)), color-stop(51%, rgba(3,175,158,1)), color-stop(52%, rgba(3,175,158,1)), color-stop(96%, rgba(0,181,80,1)), color-stop(100%, rgba(0,181,80,1)));
			background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(0,168,225,1) 0%, rgba(3,175,158,1) 51%, rgba(3,175,158,1) 52%, rgba(0,181,80,1) 96%, rgba(0,181,80,1) 100%);
			background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(0,168,225,1) 0%, rgba(3,175,158,1) 51%, rgba(3,175,158,1) 52%, rgba(0,181,80,1) 96%, rgba(0,181,80,1) 100%);
			background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(0,168,225,1) 0%, rgba(3,175,158,1) 51%, rgba(3,175,158,1) 52%, rgba(0,181,80,1) 96%, rgba(0,181,80,1) 100%);
			background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(0,168,225,1) 0%, rgba(3,175,158,1) 51%, rgba(3,175,158,1) 52%, rgba(0,181,80,1) 96%, rgba(0,181,80,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#00b550', GradientType=1 );

			width: 60%;
			max-width: 400px;
			padding: 12px 16px;
		    border-radius: 50px;
		    border: none;
		    color: white;
		    font-size: 15px;
		    font-weight: bold;
		    margin-top: 15px;
		    cursor: pointer;
		    text-align: center;

		    @include under (invitation) {
				width: 100%;
			}

		}
	}
	
	/* L e g a l e s */
	.legales {
		padding-top: 30px;
		color: gray;

		@include under (invitation) {
			padding: 10px;
			margin-bottom: 30px;
		}

		&--ttl {
			font-size: 18px;
			font-weight: bold;
			text-align: center;
			margin-bottom: 15px;
			&::before {
			
			}
		}

		&__container {
			width: 80%;
			margin: 0 auto;
			font-size: 13px;
		}
	}

	/* A c t i o n */
	.action {

		&__text-box {
			@include under (invitation) {
			    width: 50%;
			    font-size: 19px;
			    margin-left: 10vh;
			}
			@include under (xs) {
				text-align: left;
			}
		}

		&__form-box {
			@include under (sm) {
				z-index: 2;
			}
		}

		&__container--inv {
			@include over (md) {
		        -webkit-justify-content: right;
		        -ms-flex-pack: right;
		        justify-content: right;
		        padding-top: 15px;
			}
    	}

    	&__input--inv {
	        @include over (md) {
		        font-size: 20px;
		        width: 320px;	
			}

			&::-webkit-input-placeholder {
				@include over (md) {
		        	font-size: 20px;
				}
		    }
		}

		&__form--inv {
			@include over (md) {
	        	padding: 10px 10px 10px 10px;
			}
      	}

      	&__text-box--inv {
      		@include over (md) {
	        	padding-top: 0;
				font-size: 30px;
			}
      	}

      	&__button--inv {
      		@include over (md) {
		        font-size: 20px;
		        border: 2px solid white;
			}
    	}

    	&:before {
    		@include over (md) {
		        top: 6px;
			}
    	}
	}
}